@use "./variables" as *;

    // ==================================
    //    ++++++++TYPOGRAPHY++++++++
    // ==================================
   

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../assets/fonts/josefin-sans-v25-latin-regular.woff2') format('woff2'), 
        url('../assets/fonts/josefin-sans-v25-latin-regular.woff') format('woff'); 
}


@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../assets/fonts/josefin-sans-v25-latin-600.woff2') format('woff2'), 
        url('../assets/fonts/josefin-sans-v25-latin-600.woff') format('woff'); 
}


@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../assets/fonts/josefin-sans-v25-latin-700.woff2') format('woff2'),
        url('../assets/fonts/josefin-sans-v25-latin-700.woff') format('woff'); 
 }


@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../assets/fonts/barlow-v12-latin-regular.woff2') format('woff2'), 
        url('../assets/fonts/barlow-v12-latin-regular.woff') format('woff'); 
}

html{
    font-size: 125%;
    color: $textColor;
}

body{
    font-family: $secondaryFont;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 1px;
}

h1{
    font-family: $primaryFont;
    font-size: 3.45rem;
    font-weight: 600;
    text-transform: uppercase;
}

h2{
    font-family: $primaryFont;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.218rem;
    text-transform: uppercase;

    .win{
        color: $highlightColor;
        text-align: center;
    }
}

h3{
    font-family: $primaryFont;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.45rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

h4{
    font-family: $primaryFont;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.32rem;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

nav{
    font-family: $primaryFont;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.45rem;
    letter-spacing: 1px;
    text-align: center;
}

button{
    font-family: $primaryFont;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1.9rem;
    text-transform: uppercase;
    text-align: center;

    .buttonYellow{
        color: $blk;
    }

}

ul, li, a, input{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}
